
:root{
    --clr-sustainTag: rgb(166, 247, 166);
    --clr-lightgray: rgb(225, 225, 225);
    --clr-gray: rgb(210, 207, 207);
    --border: 1px solid black;

    --clr-bg: white;
    --clr-text: black;
}

*{
    font-family: 'Tinos';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.darkmode{
    --clr-bg: black;
    --clr-text: white;
}

/* <-----Tag Content----> */
.climateChangeTag::after{
    content: "Climate Change";
}

.climateCrisisTag::after{
    content: "Climate Crisis";
}

.energyTag::after{
    content: "Energy";
}

.innovationsTag::after{
    content: "Innovations";
}


.sustainabilityTag::after{
    content: "Sustainability";
}




/* <-----[\]----- */


footer{
    /* position: relative; */
    background-color: var(--clr-gray);
    height: auto;
    padding: 30px;
    /* text-align: center; */
    /* height: 1000px; */
}

#footerLogo{
    width: 10rem;
    max-width: 25vw;
}

main{
    width: 100%;
    min-height: 100vh;
}

/* <---Banner---> */

.banner{
    /* background-color: rgb(189, 255, 200); */
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--clr-primitive); */
}

.banner .fa-bars{
    display: none;
}

.banner .fa-xmark{
    display: none;
}

#logo{
    width: 200px;
}

.infoAppendix{
    position: absolute;
    list-style: none;
    top: 20px;
    right: 20px;
}

.infoAppendix li{
    display: inline-block;
    padding-left: 20px;
}

.infoAppendix li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.infoAppendix li::after{
    content: "";
    width: 0%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background-color: black;
    transition: 0.3s;
}

.infoAppendix li:hover::after{
    width: 100%;
}



/* <---Navigation Bar---> */
.navBar{
    /* background-color: gray; */
    position: sticky;
    top: 0;
    max-width: 100%;
    height: 50px;
    background-color: white;
    z-index: 100;
    
}

.navLst{
    display: flex;
    justify-content: space-evenly;
}

.navLi{
    display: inline-block;
    list-style: none;
    height: 50px;
    padding: 10px;
    flex: 1 1 auto;
    text-align: center;
    /* border: 2px solid black; */
    font-size: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    background-color: var(--clr-light-primitive);
}

.navLi:first-child{
    border-left: none;
}

.navLi:hover{
    background-color: var(--clr-lightgray);
    cursor: pointer;
}

.navLink{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.discoverDiv{
    padding-top: 20px;
    background-color: var(--clr-gray);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid black;
}

.discoverTab:hover .discoverDiv{
    display: grid;
}

.tagDiv{
    padding: 10px;
    text-align: center;
}

.tag{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.tag::after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: rgb(193, 193, 193);
    transition: 0.3s;
    margin: 0 auto;
}

.tagDiv:hover{
    font-style: italic;
    background-color: var(--clr-lightgray)
}

/* .tagDiv:hover .tag::after{
    background-color: black;
    width: 40%;
} */


/* <---Main---> */

.mainArticle{
    position: relative;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    height: 40vh;
    
    background-image: linear-gradient(rgba(79, 79, 79, 0.216), rgba(0, 0, 0, 0.545)), url(pic/temp6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-bottom: var(--border);

    padding: 10vh 50px 0 50px;
    position: flex;
    text-align: center;

    color: white;
}

#mainTitle{
    font-size: 4rem;
    display: block;
    text-shadow: 2px 2px 10px black;
}

#mainDescription{
    font-size: 1.3rem;
    display: block;
    text-shadow: 2px 2px 10px black;
}

#readBtn {
    display: inline-block;
    margin: 2rem auto 0; 
    padding: 0.5rem 1rem; 
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(91, 91, 91, 0.422);
}


#readBtn:hover{
    scale: 1.05;
    background-color: rgba(158, 158, 158, 0.723);
}


/* <--- ---> */
main{
    display: inline-block;
}

aside, section, article{
    position: relative;
    padding: 100px 10px 100px 10px;
}


section{
    border-top: 2px solid black;
    padding-left: 20px;
    width: 70%;
    float: left;
}

article{
    border-top: 2px solid black;
    width: 30%;
    float: left;
    border-left: 2px solid black;
}

.title{
    border-bottom: 1px solid black;
}

.journalLink{
    color: black;
    text-decoration: none;
}

.journalTemplate {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding-bottom: 10px;
    padding-top: 10px;

    border-bottom: 1px solid black;
    /* overflow: hidden; */
}

.journalTemplate:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.journalThumbnail {
    height: clamp(100px, 6vw, 300px);
    margin-left: 10px;
    aspect-ratio: 1/1;
    object-fit: cover; 
    margin-right: 15px;
    flex-shrink: 0;
}

.journalText {
    flex: 1; 
    margin-right: 10px;
}

.journalTitle {
    font-size: 1.4rem;
    margin: 0;
}

.journalDescription {
    font-size: 1rem;
    margin-top: 5px;
    line-height: 1.4;
}

.journalTagsDiv{
    /* background-color: red; */
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.journalTag{
    border: 1px solid black;
    font-size: auto;
    padding: 3px;
    margin: 3px;
    border-radius: 0.5rem;
}




/* <---Content---> */


.content, .journalHead{
    margin: auto;
    margin-top: 50px;
    width: 70%;
    max-width: 1000px;
    line-height: 1.5;
    font-size: 1.3rem;
}

.content{
    margin-bottom: 5rem;
    text-align: justify;
}

.journalHead h1{
    text-align: center;
    font-size: 3rem;
    border-top: var(--border);
    border-bottom: var(--border);
    margin-top: 1rem;
    width: 100%;
}

.content h2{
    text-align: left;
}

.content p{
    margin: 10px;
}

.journalHead{
    text-align: left;
}

.journalHead #source a{
    font-size: 1.1rem;
}

.content img{
    width: 100%;
    display: block;
    margin: auto
}

.content ul{
    padding-left: 10%;
}

/* <---ABOUT PAGE---> */


.divTemplate{
    padding: 50px 10% 50px 10%;
    border-bottom: var(--border);
}

.membersDiv{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.memberDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.memberImg{
    width: clamp(18px, 20rem, 25vw);
    border-radius: 100%;
}

.memberName{
    font-size: 2rem;
}


@media(max-width: 700px){
    html{
        font-size: 13px;
    }
    .navLi{
        padding: 5px;
        font-size: 0.9rem;
    }

    /* <---Info Appendix Div---> */

    .banner .fa-bars{
        position: absolute;
        right: 20px;
        top: 20px;
        transform: scale(1.5);
        display: block;
    }

    .banner .fa-xmark{
        position: absolute;
        display: block;
        left: 20px;
        top: 20px;
        transform: scale(1.5);
    }

    .infoAppendixDiv{
        background-color: var(--clr-gray);
        position: fixed;
        z-index: 101;
        right: -40vw;
        top: 0;
        height: 100vh;
        width: 30%;
        transition: 0.5s;
    }

    .infoAppendix{
        position: relative;
        top: 50px;
        right: 0;
    }


    .infoAppendix li{
        display: block;
        padding: 10px 0 10px 30px;
    }

    .infoAppendix li:hover{
        background-color: var(--clr-lightgray);
    }

    .infoAppendix li:hover::after{
        width: 0%;
    }

    .infoAppendix li a{
        font-size: 1.4rem;
    }


    section, article{
        width: 100%;
    }    
    article{
        border: none;
        border-top: 1px solid black;
    }

    .content, .journalHead{
        width: 90%;
        font-size: 1.6rem;
    }

    .journalHead #title{
        font-size: 3rem;
    }
    /* .journalDescription{
        display: none;
    } */
}

@media (max-width: 450px){
    .content, .journalHead{
        width: 90%;
        font-size: 1.4rem;
    }

    .journalHead #title{
        font-size: 2.5rem;
    }
}


.testElement{
    position: sticky;
    top: 0;
    width: 300px;
    height: 300px;
    background-color: red;
    text-align: center;
    z-index: 10;

}
